a {transition: .3s;color: #7EBACA;}
a:hover {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:focus {text-decoration: none;}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font: 16px/24px 'Exo 2', sans-serif;
  background-color: #fff;
  font-weight: 400;
}

html {
  // height: 100%;
}

.main {
  // height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: normal;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
}

header {
  flex: 0 0 auto;
}

footer {
  flex: 0 0 auto;
}

.wrapper {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  // @include screen-1199 {
  //   max-width: 992px;
  // }
  @include screen-991 {
    max-width: 768px;
  }
}

.wrapper-first {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  @include screen-1199 {
    max-width: 992px;
  }
  @include screen-991 {
    max-width: 768px;
  }
}