.faq {
  &__item {
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 15px;
  }
  &__head {
    font-size: 18px;
    line-height: 16px;
    color: #000000;
    padding: 12px 0;
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      height: 8px;
      width: 12px;
      background-image: url('../img/icons/faq_arrow.svg');
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      right: 5px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
    & + .faq__body {
      height: 0;
      overflow: hidden;
      padding-top: 0;
    }
    &_open {
      &:after {
        transform: translateY(-50%);
      }
      & + .faq__body {
        height: inherit;
      }
    }
  }
  &__body {
    font-size: 16px;
    line-height: 30px;
    color: #636363;
    padding-top: 15px;
    p {
      margin-top: 0;
    }
  }
  @include screen-667 {
    &__head {
      font-size: 14px;
      line-height: 16px;
    }
    &__body {
      font-size: 14px;
      line-height: 28px;
    }
  }
}