// Media

$screen-md: 1199px;
$screen-sm: 991px;
$screen-xs: 767px;
$screen-667: 667px;
$screen-640: 640px;
$screen-568: 568px;
$screen-480: 480px;
$screen-414: 414px;
$screen-375: 375px;
$screen-360: 360px;
$screen-320: 320px;

@mixin screen-1199 {
  @media (max-width: $screen-md) {
    @content;
  }
}

@mixin screen-991 {
  @media (max-width: $screen-sm) {
    @content;
  }
}

@mixin screen-767 {
  @media (max-width: $screen-xs) {
    @content;
  }
}

@mixin screen-667 {
  @media (max-width: $screen-667) {
    @content;
  }
}

@mixin screen-640 {
  @media (max-width: $screen-640) {
    @content;
  }
}

@mixin screen-568 {
  @media (max-width: $screen-568) {
    @content;
  }
}

@mixin screen-480 {
  @media (max-width: $screen-480) {
    @content;
  }
}

@mixin screen-414 {
  @media (max-width: $screen-414) {
    @content;
  }
}

@mixin screen-375 {
  @media (max-width: $screen-375) {
    @content;
  }
}

@mixin screen-360 {
  @media (max-width: $screen-360) {
    @content;
  }
}

@mixin screen-320 {
  @media (max-width: $screen-320) {
    @content;
  }
}