.terms {
  &__head {
    font-size: 18px;
    line-height: 16px;
    color: #000000;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #636363;
    margin-bottom: 60px;
  }
  @include screen-667 {
    &__head {
      font-size: 16px;
      line-height: 30px;
    }
    &__text {
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 35px;
    }
  }
}